# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\BPlaz\Documents\School\UNH\JUNIOR\S2\Advanced CPP\Term Project\P2-Placzek
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
\.idea
.\cmake-build-debug